    <div id="main-nav w-50">
        <ul class="list-group list-group-horizontal text-center text-uppercase w-50 mx-auto">
            <li class="list-group-item list-group-item-action list-inline-item">Home</li>
            <li class="list-group-item list-group-item-action list-inline-item">About</li>
            <li class="list-group-item list-group-item-action list-inline-item">
                <button class="btn btn-secondary" type="button" id="dropdownProductsButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="my-0">Products</p>                              
                </button>
                <div class="dropdown-menu border-0 w-100" aria-labelledby="dropdownProductsButton">
                    <a href="" class="dropdown-item">Drones</a>
                    <a href="" class="dropdown-item">DSLR</a>
                </div>
            </li>
            <li class="list-group-item list-group-item-action list-inline-item">Courses</li>
            <li class="list-group-item list-group-item-action list-inline-item">Contact Us</li>
        </ul>
    </div>